---
import Speaker from './speaker/Speaker.astro';
import speakersData from '@/data/speakers.json';
import type { Session } from '@/types/dataTypes';

interface Props {
  key?: string;
  session?: Session;
  timeData: {
    start: string;
    duration: number;
  }
}
const { key ='', session = { id: '', tag: '', title: '', speakers: [], description: '' } } = Astro.props;
const { tag, title, speakers, description } = session;
const { start, duration } = Astro.props.timeData;

const images = import.meta.glob('@/assets/top/speakers/*.{png,jpg,jpeg,webp,gif}', { eager: true });
const speakerImages = Object.fromEntries(
	speakersData.map(speaker => {
		const imagePath = `/src/assets/top/speakers/${speaker.image}`;
		const imageModule = images[imagePath] as any;
		return [
			speaker.id,
			imageModule?.default || imageModule || undefined
		];
	})
);
const getSpeakerById = (id: string) => {
  return speakersData.find(speaker => speaker.id === id);
}
const showTime = (timeStr: string | undefined, duration?: number | 0) => {
  if (!timeStr || timeStr.length !== 4) return '';
  const start_hours = timeStr.slice(0, 2);
  const start_minutes = timeStr.slice(2, 4);
  const end_hours = String(Number(start_hours) + Math.floor((Number(start_minutes) + Number(duration || 0)) / 60)).padStart(2, '0');
  const end_minutes = String((Number(start_minutes) + Number(duration || 0)) % 60).padStart(2, '0');
  return `${start_hours}:${start_minutes}〜${end_hours}:${end_minutes}`;
};

---

<dialog id={key}>
  <div class="modal">
    <div class="container" data-lenis-prevent>
      <button class="close-btn" type="button" data-trigger="modal-close" aria-label="モーダルを閉じる">
      </button>
      <div class="content">
        <p class="tag font-en">{tag}</p>
        <p class="time font-en">{showTime(start, duration)}<span class="duration">({duration}min)</span></p>
        <div class="details">
          <p class="title">{title}</p>
          <p class="description">{description}</p>
          <ul class="speakers">
            {speakers?.map((speakerId) => {
              const speaker = getSpeakerById(speakerId);
              return speaker ? (
                <li>
                  <Speaker img={speakerImages[speaker.id]} name={speaker.name} affiliation={speaker.affiliation} modifier="modal" introduction={speaker.introduction} />
                </li>
              ) : null;
            })}
          </ul>
        </div>
      </div>
    </div>
  </div>
</dialog>

<style>
  @layer components {
    :where(dialog) {
      width: unset;
      max-width: unset;
      height: unset;
      max-height: unset;
      padding: unset;
      color: unset;
      background-color: unset;
      border: unset;
      overflow: unset;
    }
    dialog[open] {
      opacity: 1;
    }
    dialog {
      opacity: 0;
      transition:
        opacity 0.3s ease-out,
        transform 0.3s ease-out,
        overlay 0.3s ease-out allow-discrete,
        display 0.3s ease-out allow-discrete;
    }
    @starting-style {
      dialog[open] {
        opacity: 0;
      }
    }
    dialog::backdrop {
      background-color: transparent;
      transition:
        display 0.3s allow-discrete,
        overlay 0.3s allow-discrete,
        background-color 0.3s;
    }
    .modal {
      position: fixed;
      width: 100%;
      height: 100vh;
      display: grid;
      place-items: center;
      padding-inline: 180px;
      background-color: color-mix(in srgb, var(--color_black) 70%, transparent);
    }
    .container {
      width: clamp(calc(1024px - 80px), 100%, 1440px);
      height: auto;
      max-height: 80%;
      overflow-y: auto;
      background-color: var(--color_bg_white);
      border-radius: 8px;
      padding: 56px 90px 72px;
      position: relative;
    }
    .close-btn {
      --this_color_hover: var(--color_primary);
      --this_bg_color_hover: var(--color_white);
      position: absolute;
      top: 24px;
      right: 24px;
      background-color: var(--color_primary);
      border-radius: 50%;
      width: 56px;
      aspect-ratio: 1;
      border: none;
      cursor: pointer;
      transition: background-color var(--transition_hover);
      border: 1px solid var(--color_primary);
      &:before,
      &:after {
        content: '';
        width: 24px;
        height: 2px;
        border-radius: 100px;
        background-color: var(--color_white);
        position: absolute;
        inset: 0;
        margin: auto;
        transition: background-color var(--transition_hover);
      }
      &:before {
        rotate: 45deg;
      }
      &:after {
        rotate: -45deg;
      }
      @media (--hover) {
        &:hover {
          background-color: var(--this_bg_color_hover);
          &:before,
          &:after {
            background-color: var(--this_color_hover);
          }
        }
      }
    }
    .tag {
      color: var(--color_primary);
      font-size: rem(12);
      margin-bottom: 16px;
    }
    .time {
      font-size: rem(20);
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
    .duration {
      font-size: rem(16);
    }
    .details {
      padding-top: 56px;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
    .title {
      font-size: rem(20);
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.01em;
    }
    .speakers {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
    .description {
      font-feature-settings: 'halt' on;
      font-size: rem(17);
      font-weight: 600;
      line-height: 2.0;
      letter-spacing: 0.05em;
    }
    @media (--under-pc) {
      .modal {
        padding: 80px 40px;
      }
      .container {
        max-height: 100%;
        width: 100%;
      }
      .row {
        flex-direction: column;
        row-gap: 16px;
      }
      .col--left {
        flex: 0 0 auto;
      }
      .col--right {
        flex: 0 0 auto;
      }
    }
    @media (--sp) {
      .modal {
        padding-inline: 24px;
      }
      .container {
        padding: 48px 24px 64px;
      }
      .close-btn {
        top: 16px;
        right: 16px;
      }
      .time {
        font-size: rem(16);
      }
      .duration {
        font-size: rem(14);
      }
      .details {
        padding-top: 40px;
        font-size: rem(16);
        row-gap: 32px;
      }
      .title {
        order: 1;
        font-size: rem(18);
      }
      .speakers {
        order: 2;
      }
      .description {
        order: 3;
        color: var(--color_text_grey)
      }
    }
  }
</style>