---
import Modal from './Modal.astro';
import Speaker from './speaker/Speaker.astro';
import speakersData from '@/data/speakers.json';
import type { Session } from '@/types/dataTypes';

interface Props {
  key?: string;
  session?: Session
  timeData: {
    start: string;
    duration: number;
  }
}
const { key ='', session = { id: '', tag: '', title: '', speakers: [], description: '' } } = Astro.props;
const { tag, title, speakers } = session;
const { start, duration } = Astro.props.timeData;

const images = import.meta.glob('@/assets/top/speakers/*.{png,jpg,jpeg,webp,gif}', { eager: true });
const speakerImages = Object.fromEntries(
	speakersData.map(speaker => {
		const imagePath = `/src/assets/top/speakers/${speaker.image}`;
		const imageModule = images[imagePath] as any;
		return [
			speaker.id,
			imageModule?.default || imageModule || undefined
		];
	})
);
const getSpeakerById = (id: string) => {
  return speakersData.find(speaker => speaker.id === id);
}

const showTime = (timeStr: string | undefined, duration?: number | 0) => {
  if (!timeStr || timeStr.length !== 4) return '';
  const start_hours = timeStr.slice(0, 2);
  const start_minutes = timeStr.slice(2, 4);
  const end_hours = String(Number(start_hours) + Math.floor((Number(start_minutes) + Number(duration || 0)) / 60)).padStart(2, '0');
  const end_minutes = String((Number(start_minutes) + Number(duration || 0)) % 60).padStart(2, '0');
  return `${start_hours}:${start_minutes}〜${end_hours}:${end_minutes}`;
};

---

<div role="button" tabindex="0" class="session-card" data-modal-open={key || ''}>
  <span class="head">
    <span class="time font-en">{showTime(start, duration)}<span class="duration">({duration}min)</span></span>
    <span class="tag font-en">{tag}</span>
  </span>
  <h4 class="title">{title}</h4>
  <ul class="speakers">
    {speakers?.map((speakerId) => {
      const speaker = getSpeakerById(speakerId);
      return speaker ? (
        <li>
          <Speaker img={speakerImages[speaker.id]} name={speaker.name} affiliation={speaker.affiliation} modifier="timetable"/>
        </li>
      ) : null;
    })}
  </ul>
</div>
<Modal 
  key={key || ''}
  session={session}
  timeData={{ start: start || '', duration: duration || 0 }}
/>

<style>
	@layer components {
    .session-card {
      height: 100%;
      background-color: #fff;
      border-radius: 8px;
      padding: 16px 24px;
      display: grid;
      align-content: start;
      row-gap: 16px;
      border: none;
      text-align: left;
      cursor: pointer;
      transition: background-color 0.3s ease;
      mix-blend-mode: difference;
      overflow: hidden;
      color: var(--color_text);
      @media (--hover) {
        &:hover {
          background-color: color-mix(in srgb, #fff 97%, #000 3%);
        }
      }
    }
    .head {
      display: flex;
      justify-content: space-between;
    }
    .time {
      font-size: rem(16);
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
    .duration {
      color: var(--color_text_grey);
      font-size: rem(12);
    }
    .tag {
      color: var(--color_primary);
      font-size: rem(12);
    }
    .title {
      font-family: var(--font_ja_bold);
      font-size: rem(20);
      letter-spacing: 0.04em;
      font-weight: 600;
      line-height: 1.5;
    }
    .speakers {
      display: grid;
      row-gap: 16px;
    }
    @media (--sp) {
      .session-card {
        row-gap: 20px;
        padding-inline: 16px;
        position: relative;
        translate: translateZ(0);
        z-index: var(--z_over);
      }
      .time {
        font-size: rem(14);
      }
      .title {
        font-size: rem(18);
      }
    }
	}
</style>

<script>
	import('@/scripts/modal.ts').then(({ initModal }) =>
		initModal()
	);
</script>