---
import SessionCard from '@/components/top/modules/SessionCard.astro'
import sessionList from '@/data/sessionList.json'
import type { TimetableContent, Session } from '@/types/dataTypes'

interface Props {
  timetableData: TimetableContent[]
  stageName: string
}

const { timetableData, stageName } = Astro.props as Props
const sessions: Record<string, Session> = Object.fromEntries(
  sessionList.map((session) => [session.id, session])
)

const showTime = (timeStr: string | undefined, duration?: number | 0) => {
  if (!timeStr || timeStr.length !== 4) return '';
  const start_hours = timeStr.slice(0, 2);
  const start_minutes = timeStr.slice(2, 4);
  const end_hours = String(Number(start_hours) + Math.floor((Number(start_minutes) + Number(duration || 0)) / 60)).padStart(2, '0');
  const end_minutes = String((Number(start_minutes) + Number(duration || 0)) % 60).padStart(2, '0');
  return `${start_hours}:${start_minutes}〜${end_hours}:${end_minutes}`;
};

// 60進数に変換して1030を引く関数
const calculateRowCount = (start: number) => {
  const hours = Math.floor(start / 100);
  const minutes = start % 100;
  return (hours * 60 + minutes - (10 * 60 + 30)) / 10;
}; 

---

{timetableData.map((item, index) => (
  <div class="row" style={`--this_start_row: ${calculateRowCount(Number(item.start)) + 1}; --this_time_duration: ${item.duration ? item.duration / 10 : 1}`}>
    {item.type === 'spacer' ? (
      <div class="spacer">
      </div>
    ) : item.type === 'shrink' ? (
      <div class="text-schedule shrink">
        <dl>
          <dt class="font-en">{showTime(item.start, item.duration)}</dt>
          <dd>{item.content}</dd>
        </dl>
      </div>
    ) : item.type === 'text' ? (
      <div class="text-schedule">
        <dl>
          <dt class="font-en">{showTime(item.start, item.duration)}</dt>
          <dd>{item.content}</dd>
        </dl>
      </div>
    ) : item.type === 'session' ? (
      (() => {
      const session = sessions[item.content || '']
      if (!session) return null
      return (
        <SessionCard
          key={stageName+'_'+item.content+'_'+index}
          session={session}
          timeData={{ start: item.start || '', duration: item.duration || 0 }}
          adjustment={item.adjustment || false}
        />
      )
      })()
    ) : null}
  </div>
))}

<style>
  @layer components {
    .row {
      display: flex;
      flex-direction: column;
      justify-content: start;
      min-height: calc((140px * var(--this_time_duration, 1) + 16px * (var(--this_time_duration, 1) - 1)));
      height: auto;
      grid-row: var(--this_start_row, 0) / span var(--this_time_duration);
      min-width: 0;
      &:has(.shrink) {
        min-height: auto;
      }
    }
    .spacer {
      height: calc((140px * var(--this_time_duration, 1) + 16px * (var(--this_time_duration, 1) - 1)));
      grid-row: span var(--this_time_duration);
      background-color: var(--color_white);
      opacity: 0.5;
      border-radius: 8px;
      mix-blend-mode: difference;
      backdrop-filter: brightness(88%) contrast(126%);
    }
    .text-schedule {
      display: grid;
      align-items: center;
      height: 100%;
      min-height: inherit;
      border-radius: 8px;
      padding-inline: 24px;
      mix-blend-mode: difference;
      -webkit-backdrop-filter: brightness(88%) contrast(126%) saturate(120%);
      backdrop-filter: brightness(88%) contrast(126%) saturate(120%);
      background-color: var(--color_white);
      dl {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: rem(20);
        font-weight: 500;
      }
      &.shrink {
        min-height: 84px;
        display: grid;
        align-items: center;
        background-color: var(--color_bg_white);
        border: 1px solid currentColor;
      }
    }
    @media (--sp) {
      .row {
        min-height: calc((132px * var(--this_time_duration, 1) + 16px * (var(--this_time_duration, 1) - 1)));
      }
      .text-schedule {
        min-height: inherit;
        padding-inline: 8px;
        dl {
          font-size: rem(18);
        }
        &.shrink {
          min-height: 64px;
        }
      }
    }
  }
</style>