---
import SessionCard from '@/components/top/modules/SessionCard.astro'
import Modal from './Modal.astro'
import sessionList from '@/data/sessionList.json'
import type { TimetableEntry, TimetableContent } from '@/types/timetable'

type Session = {
  time: string
  duration: string
  tag: string
  title: string
  speakers?: string[]
}

interface Props {
  timetableData: TimetableEntry[]
  stage: 'main' | 'sub'
}

const { timetableData, stage } = Astro.props as Props
const sessions = sessionList as Record<string, Session>
const timetable = timetableData
---

{timetable.map(item => (
  <div class="row">
    {(stage === 'main' ? item.content_main : item.content_sub).map(content => (
      content.type === 'text'
        ? (
          <div class="text-schedule">
            <dl>
              <dt class="font-en">{content.time}</dt>
              <dd>{content.title}</dd>
            </dl>
          </div>
        )
        : content.type === 'card'
        ? (() => {
            const session = sessions[content.key]
            if (!session) {
              return null
            }

            return (
              <SessionCard
                key={content.key}
                session={session}
              />
              <Modal
                key={content.key}
                session={session}
              />
            )
          })()
        : content.type === 'spacer'
        ? <div class="spacer"></div>
        : null
    ))}
  </div>
))}

<style>
  @layer components {
    .row {
      display: flex;
      flex-direction: column;
      &:has(.session-card) {
        padding-top: 36px;
        + .row:has(.session-card) {
          padding-top: 0;
        }
      }
    }
    .text-schedule {
      padding-block: 42px;
      dl {
        display: flex;
        justify-content: space-between;
        font-size: rem(20);
        font-weight: 500;
      }
    }
  }
</style>