---
import members_office from '@/data/members_office.json';
import members_production from '@/data/members_production.json';

import SectionTitle from '@/components/util/SectionTitle.astro';
import Member from './modules/Member.astro';

const images = import.meta.glob('@/assets/top/members/*.{png,jpg,jpeg,webp,gif}', { eager: true });
const memberImages = Object.fromEntries(
  [...members_office, ...members_production].map(member => {
    const imagePath = `/src/assets/top/members/${member.id}.jpg`;
    const imageModule = images[imagePath] as any;
    return [
      member.id,
      imageModule?.default || imageModule || undefined
    ];
  })
);

---

<div class="members bg-white" id="members">
  <div class="inner">
    <SectionTitle
      en="Operation members"
      ja="運営メンバー"
    />
    <div class="members-category">
      <h3 class="label">事務局</h3>
      <div class="members-wrapper">
        <div class="members-container">
          {members_office.map((member) => (
            <div class="members-item">
              <Member img={memberImages[member.id]} name={member.name} href={member.href && member.href}/>
            </div>
          ))}
        </div>
      </div>
    </div>
    <div class="members-category">
      <h3 class="label">制作</h3>
      <div class="members-wrapper">
        <div class="members-container">
          {members_production.map((member) => (
            <div class="members-item">
              <Member img={memberImages[member.id]} name={member.name} href={member.href && member.href}/>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @layer components {
    .members {
      padding-block: 44px 160px;
    }
    .members-category {
      + .members-category {
        margin-top: 48px;
      }
    }
    .label {
      color: var(--color_primary);
      font-size: rem(17);
      font-weight: 600;
      margin-bottom: 28px;
    }
    .members-wrapper {
      margin-inline: auto;
      display: flex;
      justify-content: center;
    }
    .members-container {
      --this_column_count: 6;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(max(180px, calc(100%/ 6)), 1fr));
      border-top: 1px solid var(--color_grey);
      border-bottom: 1px solid var(--color_grey);
    }
    .members-item {
      padding-block: 16px;
      border-bottom: 1px solid var(--color_grey);
      margin-bottom: -1px;
    }
    @media (--tb) {
      .members {
        padding-block: 80px 120px;
      }
      .members-container {
        --this_column_count: 3;
      }
    }
    @media (--sp) {
      .members {
        padding-block: 80px 100px;
      }
      .members-category {
        + .members-category {
          margin-top: 36px;
        }
      }
      .members-container {
        grid-template-columns: repeat(auto-fill, minmax(min(140px, calc((100% - 16px) / 2)), 1fr));
        border-bottom: none;
        padding-top: 16px;
        gap: 16px;
      }
      .members-item {
        border-bottom: none;
        padding: 0;
      }
    }
  }
</style>
