---
import SponsorLogo from './SponsorLogo.astro';

import chotinc from '@assets/sponsors/chotinc.png';
import cybozu from '@assets/sponsors/cybozu.png';
import figma from '@assets/sponsors/figma.png';
import findy from '@assets/sponsors/findy.png';
import gaudiy from '@assets/sponsors/gaudiy.png';
import money_forward from '@assets/sponsors/money_forward.png';
import morisawa from '@assets/sponsors/morisawa.png';
import notion from '@assets/sponsors/notion.png';
import web_designing from '@assets/sponsors/web_designing.png';
import cocoda from '@assets/sponsors/cocoda.png';
import reazon from '@assets/sponsors/reazon.png';

const images = {
	chotinc,
	cybozu,
	figma,
	findy,
	gaudiy,
	money_forward,
	morisawa,
	notion,
	web_designing,
	cocoda,
	reazon,
};
---

<section class="sponsors">
	<div class="inner">
		<h2 class="font-en">SPONSORS</h2>
		<div class="sponsors-wrapper">
			<div class="item">
				<div class="logo-wrapper">
					<SponsorLogo level="kyoku" href="https://www.figma.com/ja-jp/" img={images.figma} alt="Figma"/>
					<SponsorLogo level="kyoku" href="https://findy.co.jp/" img={images.findy} alt="Findy"/>
				</div>
			</div>
			<div class="item">
				<div class="logo-wrapper">
					<SponsorLogo level="matsu" href="https://gaudiy.com/" img={images.gaudiy} alt="Gaudiy"/>
					<SponsorLogo level="matsu" href="https://corp.moneyforward.com/news/press/" img={images.money_forward} alt="Money Forward"/>
					<SponsorLogo level="matsu" href="https://cybozu.co.jp/" img={images.cybozu} alt="cybozu"/>
					<SponsorLogo level="matsu" href="https://www.morisawa.co.jp/" img={images.morisawa} alt="モリサワ"/>
				</div>
			</div>
			<div class="item">
				<div class="logo-wrapper small">
					<SponsorLogo level="ume" href="https://www.notion.com/ja" img={images.notion} alt="Notion"/>
					<SponsorLogo level="ume" href="https://chot-inc.com/" img={images.chotinc} alt="chot Inc."/>
				</div>
			</div>
			<div class="item">
				<h3 class="line-heading sponsor-label"><span>会場スポンサー</span></h3>
				<div class="logo-wrapper">
					<SponsorLogo level="other" href="https://cybozu.co.jp/" img={images.cybozu} alt="cybozu"/>
				</div>
			</div>
			<div class="item">
				<h3 class="line-heading sponsor-label"><span>メディアスポンサー</span></h3>
				<div class="logo-wrapper">
					<SponsorLogo level="other" href="https://webdesigning.book.mynavi.jp/" img={images.web_designing} alt="Web Designing"/>
					<SponsorLogo level="other" href="https://cocoda.design/" img={images.cocoda} alt="Cocoda"/>
				</div>
			</div>
			<div class="item">
				<h3 class="line-heading sponsor-label"><span>クリエイティブスポンサー</span></h3>
				<div class="logo-wrapper">
					<SponsorLogo level="other" modifier="reazon" href="https://reazon.jp/" img={images.reazon} alt="Reazon Holdings"/>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	@layer components {
		.sponsors {
			padding-block: 120px 200px;
		}
		h2 {
			margin-bottom: 104px;
		}
		.sponsors-wrapper {
			display: grid;
			row-gap: 120px;
		}
		.item {
			text-align: center;
		}
		.logo-wrapper {
			display: flex;
			flex-wrap: wrap;
			padding-inline: 60px;
			justify-content: center;
			gap: 40px;
			&.small {
				gap: 32px;
			}
		}
		@media (--sp) {
			.sponsors {
				padding-block: 80px 96px;
			}
			h2 {
				margin-bottom: 84px;
			}
			.sponsors-wrapper {
				row-gap: 80px;
			}
			.sponsor-label {
				margin-top: 8px;
				margin-bottom: 48px;
			}
			.logo-wrapper {
				padding-inline: 0;
				gap: 16px;
				&.small {
					gap: 16px;
				}
			}
		}
	}
</style>