---
import SectionTitle from '@/components/util/SectionTitle.astro';
import SponsorLogo from './SponsorLogo.astro';

import chotinc from '@assets/top/sponsors/chotinc.png';
import cybozu from '@assets/top/sponsors/cybozu.png';
import figma from '@assets/top/sponsors/figma.png';
import findy from '@assets/top/sponsors/findy.png';
import gaudiy from '@assets/top/sponsors/gaudiy.png';
import money_forward from '@assets/top/sponsors/money_forward.png';
import morisawa from '@assets/top/sponsors/morisawa.png';
import concent from '@assets/top/sponsors/concent.png';
import notion from '@assets/top/sponsors/notion.png';
import web_designing from '@assets/top/sponsors/web_designing.png';
import cocoda from '@assets/top/sponsors/cocoda.png';
import reazon from '@assets/top/sponsors/reazon.png';

const images = {
	chotinc,
	cybozu,
	figma,
	findy,
	gaudiy,
	money_forward,
	morisawa,
	concent,
	notion,
	web_designing,
	cocoda,
	reazon,
};
---

<section class="sponsors bg-white">
	<div class="inner">
		<div class="sponsors-title">
			<SectionTitle
				en="Sponsors"
				ja="スポンサー"
				modifier={["center", "no-margin"]}
				id="sponsors"
			/>
		</div>
		<div class="sponsors-wrapper">
			<div class="item">
				<div class="logo-wrapper">
					<SponsorLogo level="kyoku" href="https://www.figma.com/ja-jp/" img={images.figma} alt="Figma"/>
					<SponsorLogo level="kyoku" href="https://findy.co.jp/" img={images.findy} alt="Findy"/>
				</div>
			</div>
			<div class="item">
				<div class="logo-wrapper">
					<SponsorLogo level="matsu" href="https://gaudiy.com/" img={images.gaudiy} alt="Gaudiy"/>
					<SponsorLogo level="matsu" href="https://design.moneyforward.com/" img={images.money_forward} alt="Money Forward"/>
					<SponsorLogo level="matsu" href="https://cybozu.co.jp/" img={images.cybozu} alt="cybozu"/>
					<SponsorLogo level="matsu" href="https://morisawafonts.com/" img={images.morisawa} alt="モリサワ"/>
					<SponsorLogo level="matsu" href="https://www.concentinc.jp//" img={images.concent} alt="CONCENT"/>
				</div>
			</div>
			<div class="item">
				<div class="logo-wrapper small">
					<SponsorLogo level="ume" href="https://www.notion.com/ja" img={images.notion} alt="Notion"/>
					<SponsorLogo level="ume" href="https://chot-inc.com/" img={images.chotinc} alt="chot Inc."/>
				</div>
				<!-- <div class="personal-list">
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
					<p>山下 祥也</p>
				</div> -->
			</div>
			<div class="item">
				<h3 class="line-heading sponsor-label"><span>会場スポンサー</span></h3>
				<div class="logo-wrapper">
					<SponsorLogo level="other" href="https://cybozu.co.jp/" img={images.cybozu} alt="cybozu"/>
				</div>
			</div>
			<div class="item">
				<h3 class="line-heading sponsor-label"><span>メディアスポンサー</span></h3>
				<div class="logo-wrapper">
					<SponsorLogo level="other" href="https://webdesigning.book.mynavi.jp/" img={images.web_designing} alt="Web Designing"/>
					<SponsorLogo level="other" href="https://cocoda.design/" img={images.cocoda} alt="Cocoda"/>
				</div>
			</div>
			<div class="item">
				<h3 class="line-heading sponsor-label"><span>クリエイティブスポンサー</span></h3>
				<div class="logo-wrapper">
					<SponsorLogo level="other" modifier="reazon" href="https://reazon.jp/" img={images.reazon} alt="Reazon Holdings"/>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	@layer components {
		.sponsors {
			padding-block: 164px 120px;
		}
		.sponsors-title {
			margin-bottom: 112px;
		}
		.sponsors-wrapper {
			display: grid;
			row-gap: 120px;
		}
		.personal-list {
			margin-top: 120px;
			display: grid;
			grid-template-columns: repeat(5, auto);
			justify-content: center;
			gap: 40px;
			font-size: rem(20);
			font-weight: 600;
			line-height: 1.5;
			justify-items: center;
		}
		.item {
			text-align: center;
		}
		.logo-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 40px;
			&.small {
				gap: 32px;
			}
		}
		@media (--tb) {
			.sponsors {
				padding-block: 124px 120px;
			}
			.logo-wrapper {
				gap: 32px;
			}
		}
		@media (--sp) {
			.sponsors {
				padding-block: 80px 80px;
			}
			.sponsors-title {
				margin-bottom: 90px;
			}
			.sponsors-wrapper {
				row-gap: 80px;
			}
			.personal-list {
				margin-top: 80px;
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				justify-content: center;
				font-size: rem(17);
				line-height: 2.0;
			}
			.sponsor-label {
				margin-top: 8px;
				margin-bottom: 48px;
			}
			.logo-wrapper {
				padding-inline: 0;
				gap: 14px;
				&.small {
					gap: 14px;
				}
			}
		}
	}
</style>